.actions {
    display: flex;
    align-items: center;
}

.actions button {
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border-radius: 4rem;
    font-weight: 600;
}

.delBtn {
    background: rgba(234, 6, 6, 0.18);
    color: #ea0606;
}

.dark .delBtn {
    color: rgba(255, 255, 255, 0.9);
    background: rgb(110, 54, 48);
}

.viewBtn {
    background: #cce6ff;
    color: #0080ff;
}

.dark .viewBtn {

    background: rgb(35, 131, 226);
    color: #fff;
}



.taskState {
    border-radius: 3rem;
    background: #CCE6FF;
    color: rgba(0, 128, 255, 1);
    padding: .1rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.complete {
    background: #d1ffcc;
    color: rgb(0 171 21);
}


.dark .taskState {
    /* color: rgba(255, 255, 255, .8);
    background: rgba(0, 128, 255, 1); */
    color: rgba(255, 255, 255, 1);
    background: rgb(40, 69, 108);
}

.dark .complete {
    /* color: #222;
    background: #aef3a6; */
    color: rgba(255, 255, 255, 1);
    background: rgb(43, 89, 63);
}

.tableUserInfo .imageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tableUserInfo .imageContentImg {
    min-width: 5.5rem;
    width: 5.5rem;
}