.actions {
    display: flex;
    align-items: center;
}

.actions button {
    margin: 0 .5rem;
    padding: .5rem 1rem;
    border-radius: 4rem;
    font-weight: 600;
    transition: .3s all ease;
}

.delBtn {
    background: rgba(234, 6, 6, 0.18);
    color: #ea0606;
}

.dark .delBtn {
    background: rgba(241, 109, 109, 0.2);
    color: #f18f8f;
}

.viewBtn {
    background: rgb(120, 109, 241, .2);
    color: #786DF1;
}

.dark .viewBtn {

    background: rgba(109, 118, 241, 0.15);
    color: #afbaf8;
}



.taskState {
    border-radius: 3rem;
    background: #CCE6FF;
    color: rgba(0, 128, 255, 1);
    padding: .1rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: .3s all ease;
}

.complete {
    background: #d1ffcc;
    color: rgb(0 171 21);
}


.dark .taskState {
    /* color: rgba(255, 255, 255, .8);
    background: rgba(0, 128, 255, 1); */
    color: rgb(59, 203, 237);
    background: rgb(59, 203, 237, .1);
}


.dark .complete {
    background: rgba(109, 241, 160, 0.1);
    color: #6df1be;
}

.tableUserInfo .imageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tableUserInfo .imageContentImg {
    min-width: 5.5rem;
    width: 5.5rem;
}

.dark .css-drj1oe-MuiDataGrid-root .MuiDataGrid-cell {
    border-bottom-color: #6a6a6a;
}

.dark .css-i4bv87-MuiSvgIcon-root {
    color: #fff;
}
