.brand {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #000;

}

.brand h2 {
    font-size: 2.2rem;

}

.brand h2 span {

    color: var(--primary);
}

.brandIcon {
    font-size: 2.4rem;
    color: var(--primary);
    margin-right: .8rem;
}

.brandContent {
    display: flex;
    align-items: center;
}

.sideBtn {
    color: var(--mainFont);
    font-size: 1.8rem;
    font-weight: 900;
}