.defaultLayout {
    display: flex;
    background: var(--secBg);
    min-height: 100vh;

}

.bodyContainer {
    width: 100%;
    margin-left: 7rem;
    transition: .4s all ease;
    padding: 2rem 4rem;
}

.defaultLayout.openSide .bodyContainer {
    margin-left: 27rem;
}