.darkBtn {
    color: #feca57;
    font-size: 3.2rem;
    margin: 0 2rem 0 1rem;

    overflow: visible;
}

.dark .darkBtn {
    color: #fff;
}

.darkAnimate {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.darkAnime {
    -webkit-animation-name: darkAnime;
    animation-name: darkAnime;
}

@keyframes darkAnime {
    0% {
        opacity: 0;
        transform: translateY(60px) rotate(360deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}

.darkBtn>* {
    transition: 0s !important;
}

.darkBtn span>* {
    transition: 0s !important;
}