.userMenu {
    margin-left: 2rem;
    font-family: inherit !important;
    text-align: left;
    background: var(--mainBg) !important;
    border-radius: 1.5rem !important;
    box-shadow: var(--shadow);
}


.listMenu {
    padding: 1.5rem 1.5rem;
    border-radius: 2rem;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    margin-top: 1rem;
    overflow: visible !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 2rem;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    padding: 0 !important;
    overflow: hidden;
    border-radius: 2rem;

}

.userImg {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.userImg img {
    height: 100%;
}

.userContent {
    margin-left: 1rem;

}

.userContent h3 {
    color: var(--mainFont);
    font-size: 1.2rem;
    font-weight: 600;
}

.userContent span {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.1rem;
}

.userIcon {
    color: var(--mainFont);
    font-size: 1.1rem;
    margin-left: 1rem;
    align-self: flex-start;
    margin-top: 1rem;
}

.navImageContent {
    border-bottom:
        1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: .5rem 0 1.8rem;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background: #f7f7f7 !important;
}

.darkItem.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background: #293034 !important;
}

.navImageContent .imageContentImg {
    width: 4.5rem;
    height: 4.5rem;
}

.navImageContent>* {
    font-family: 'montserrat';

}

.navImageContent .imageContent h4 {
    font-size: 1.4rem;
    color: #31394d;
    font-weight: 600;
}

.navImageContent .imageContent span {
    color: #B2ADAD;
    font-size: 1.2rem;
}

.darkContent h4 {
    color: #fff !important;
}

.css-r8u8y9 {
    box-shadow: none !important;
    background: transparent !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}