.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0 3px 17px 1px rgb(51,
            48,
            60, .1);
    width: 27rem;
    background: var(--mainBg);
    height: 100%;
}