* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-transform: capitalize;
    /* transition: .3s all ease; */
}

html {
    font-size: 62.5%;
}


body {
    line-height: 1.6;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    overflow-x: hidden;
    /* transition: 0.3s all ease; */
    margin: 0 auto;
    position: relative;
    /* padding: 0 !important; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.6;

    padding: 0;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

ul {
    margin: 0;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


.ontop {
    position: relative;
    z-index: 4;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}



.App {
    --primary: rgb(240, 57, 82);
    --danger: #dc3545;
    --mainBg: #fff;
    --secBg: #fafaff;
    --mainFont: #31394D;
    --secFont: #B2ADAD;
    --thirdFont: rgba(49, 57, 77, 1);
    --shadow: 0 1px 15px rgba(229, 233, 242, 1);

}

.App.dark {
    --primary: rgb(242, 208, 68);
    --danger: #dc3545;
    /* --mainBg: #30313c; */
    --mainBg: #30373c;
    --secBg: #25272c;
    --mainFont: #fff;
    --secFont: #cccccc;
    --thirdFont: #d6d6d6;
}