* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-transform: capitalize;

}

html {
    font-size: 62.5%;
}


body {
    line-height: 1.6;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    overflow-x: hidden;
    transition: 0.3s all ease;
    margin: 0 auto;
    position: relative;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.6;

    padding: 0;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

ul {
    margin: 0;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}


.ontop {
    position: relative;
    z-index: 4;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}



.App {
    --primary: #396CF0;
    --danger: #dc3545;
    --mainBg: #fff;
    --secBg: #F8F7FA;
    --mainFont: #31394D;
    --secFont: #B2ADAD;
}

.App.dark {
    --primary: #f2d044;
    --danger: #dc3545;
    --mainBg: #070707;
    --secBg: #25272c;
    --mainFont: #fff;
    --secFont: #cccccc;
}