.mainSearch {
    position: relative;
    
}

.search {
    width: 60%;

}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--thirdFont);
    transition: .3s all ease;
}

.searchInput {
    padding: 1.5rem 4rem 1.5rem 2rem;
    font-size: 1.6rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}